.btn {
  display: inline-block;
  min-width: 125px;
  border-radius: 1rem;
  padding: .9rem 1.75rem;
  border: 0;
  outline: 0;
  /* background: linear-gradient(90deg, #398e52, #3a9e58, #368b4f); */
  background: linear-gradient(90deg, #398e52, #17D46C, #368b4f);
  background-size: 200%;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: inherit;
  font-size: .85rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .5px;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  background-position: 100%;
}

.btn.btn-outline {
  color: var(--text-white);
  font-weight: 500;
  font-size: .9rem;
  border-bottom: 3px solid var(--color-1);
  border-radius: 0;
  padding: 0.15rem 0;
  background: transparent;
  position: relative;
  min-width: revert;
}

.btn.btn-outline:hover {
  background: transparent;
}

.btn.btn-outline::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  background-color: var(--color-1-dark);
  transition: .3s ease-in-out;
}

.btn.btn-outline:hover::before {
  width: 100%;
}