.App-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
  top: 0;
  background: rgba(43, 37, 60, 0.6);
  box-shadow: 0 5px 20px 0.1px rgb(0 0 0 / 10%);
  backdrop-filter: blur(15px);
  color: var(--white);
}

.App-header::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* box-shadow: 0 5px 20px 0.1px rgb(0 0 0 / 10%); */

  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.App-header a {
  color: var(--white);
}

.App-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-size: 1.5rem;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
  color: var(--text-white);
}

.logo i {
  color: var(--color-1);
  font-size: 1.75rem;
}

.App-header .links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.App-header .links a {
  position: relative;
  color: var(--text-gray);
  transition: .3s;
}

.App-header .links a:hover,
.App-header .links a.active {
  color: var(--text-white);
}

.App-header .links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 6px;
  transform: translateX(-50%);
  width: 0;
  border-radius: 8px;
  background-color: var(--white);
  transition: .3s;
}

.App-header .links a:hover::after,
.App-header .links a.active::after {
  width: 110%;
}

.menu {
  width: 21px;
  height: 21px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.menu i {
  position: absolute;
  cursor: pointer;
  transition: .3s;
}

.menu .open {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.menu .close {
  opacity: 0;
  transform: scale(.5) rotate(-125deg);
}

.menu.active .open {
  transform: scale(1) rotate(125deg);
  opacity: 0;
}

.menu.active .close {
  transform: scale(1) rotate(0);
  opacity: 1;
}

@media (max-width: 750px) {
  .menu {
    display: flex;
  }

  .App-header .links-container {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .App-header .links {
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;
    top: 0;
    transform: translateY(-100%);
    text-align: center;
    padding: 2rem 3rem 4rem;
    border-radius: 0 0 2rem 2rem;
    background: rgba(43, 37, 60, 1);
    pointer-events: none;
    transition: .3s;
  }

  .App-header.active .links {
    transform: translateY(0%);
    pointer-events: auto;
  }
}